<%= render 'general/back_modules'%>

<div class="container">
  <div class="col-md-10 row">
    <div class="col-xs-6 col-md-3">
      <a  href="/bunker/selection/adoptions" class="thumbnail text-center hvr-sweep-to-top cmn-t-bg">
        <i class="fa fa-child fa-4x"></i>
        <i class="fa fa-heart fa-3x"></i>
        <i class="fa fa-paw fa-4x"></i>
        <br>
        Adopciones
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a  href="/bunker/selection/donations" class="thumbnail text-center hvr-sweep-to-top cmn-t-bg">
        <i class="fa fa-gift fa-4x"></i>
        <br>
        Donaciones
      </a>
    </div>
  </div>
</div>