<div class="container">
  <div class="col-md-12 row">

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Sistema de reportes Apolo <a href="/animals/species/" class="pull-right btn-sm btn-warning ">Volver a especies</a></div>
      <%= render 'general/search' %>


      <div class="panel-body">

        <div class="row">
          <div class="col-lg-6">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-bullseye"></i></span>
              <select class="form-control" onchange="getDependencies()">
                <option value="0" disabled selected>Elija un campo</option>
                <option value="1">Animales</option>
                <option value="2">Clientes</option>
                <option value="3">Empleados</option>
                <option value="4">Lotes</option>
                <option value="5">Ventas</option>
                <option value="6">Compras</option>
              </select>
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
          <div class="col-lg-6">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa "></i></span>
              <select class="form-control" onchange="getDependencies()">
                <option value="0" disabled selected>Elija un campo</option>

              </select>            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
      </div>


    </div>
  </div>
</div>