<div class="panel panel-default">
  <div class="panel-body">
    <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-search"></i>
          </span>
      <input type="search" id="search" class="form-control" placeholder="Buscar" onkeyup="search(this)">
    </div>
  </div>
</div>