<div id="modify-hour-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Registro de nuevo horario</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div id="time-in-modify" class="input-group date">
            <input id="schedule-enter-modify" class="form-control" type="time" data-toggle="tooltip" data-placement="top" title="Horario de entrada" placeholder="Horario de entrada">
            <span class="input-group-addon">
              <span class="fa fa-clock-o"></span>
            </span>
          </div>
          <br>
          <div id="time-out-modify" class="input-group date">
            <input id="schedule-exit-modify" class="form-control" type="time" data-toggle="tooltip" data-placement="top" title="Horario de entrada" placeholder="Horario de salida">
            <span class="input-group-addon">
              <span class="fa fa-clock-o"></span>
            </span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="save-modify-hour">Guardar</button>
      </div>
    </div>
  </div>
</div>