<div class="container">
  <div class="col-md-9 row">
    <div class="col-xs-6 col-md-3">
      <a  href="/clients/list_all" class="thumbnail text-center hvr-sweep-to-top cmn-t-bg">
        <i class="fa fa-group fa-4x"></i>
        <br>
        Clientes
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a  href="/employees/" class="thumbnail text-center hvr-sweep-to-top cmn-t-bg">
        <i class="fa fa-child fa-4x"></i>
        <br>
        Empleados
      </a>
    </div>
  </div>
</div>