<div class="container">
  <div class="col-md-12 row">
    <div class="container">
      <div class="btn-group">
        <a href="#" class="btn btn-success">
          <i class="fa fa-plus"></i>
          Registro de nuevo animal
        </a>
      </div>
    </div>
    <br>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Lista de animales</div>
      <%= render 'general/search' %>
      <table id="table" class="table">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Especie</th>
          <th>Raza</th>
          <th>Fecha de nacimiento</th>
          <th>Fecha de deceso</th>
          <th>Fecha de registro</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <a href="#" data-toggle="tooltip" data-placement="top" title="Mostrar información">Cachuchin</a>
          </td>
          <td><a href="#" data-toggle="tooltip" data-placement="top" title="Ver información de especies">Perro</a></td>
          <td>Cancu</td>
          <td>08/12/2008</td>
          <td>-</td>
          <td>17/09/2015</td>
          <td>
            <div class="btn-group">
              <a href="#" data-toggle="tooltip" data-placement="top" title="Modificar">
                <i class="fa fa-edit"></i>
              </a>
              <a href="#" data-toggle="tooltip" data-placement="top" title="Eliminar">
                <i class="fa fa-close"></i>
              </a>
            </div>
          </td>
        </tr>

        <tr>
          <td>PHP</td>
          <td><a href="#">Delfín</a></td>
          <td>Cunumi</td>
          <td>08/12/2008</td>
          <td>09/12/12</td>
          <td>17/09/2015</td>
          <td>
            <div class="btn-group">
              <a href="#" data-toggle="tooltip" data-placement="top" title="Modificar">
                <i class="fa fa-edit"></i>
              </a>
              <a href="#" data-toggle="tooltip" data-placement="top" title="Eliminar">
                <i class="fa fa-close"></i>
              </a>
            </div>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>


<!--div id="new-group-modal" class="modal fade"-->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Registro animal</h4>
      </div>
      <div class="modal-body">
        <div class="form-group form-group-sm">
          <input id="animal-image" type="file" size="40" data-toggle="tooltip" data-placement="top" title="Fotografía del animal">
          <br>
          <input id="animal-name" class="form-control space-10" type="text" data-toggle="tooltip" data-placement="top" title="Nombre del animal" placeholder="Nombre del animal">
          <br>
          <select id="animal-owner-selector" class="form-control" data-toggle="tooltip" data-placement="top" title="Dueño del animal">
            <option disabled selected>Seleccione dueño</option>
            <option>Juan valdez</option>
            <option>Juan Bautista Sabadú</option>
            <option>Helena Mamani</option>
          </select>
          <br>
          <select id="animal-specie-selector" class="form-control" data-toggle="tooltip" data-placement="top" title="Especie del animal">
            <option disabled selected>Especie</option>
            <option>Perro</option>
            <option>Gato</option>
            <option>Serpiente</option>
          </select>
          <br>
          <select id="animal-breed-selector" class="form-control" data-toggle="tooltip" data-placement="top" title="Raza del animal">
            <option disabled selected>Seleccione raza</option>
          </select>
          <br>
          <input id="animal-born-date" class="form-control space-10" type="text" data-toggle="tooltip" data-placement="top" title="Fecha de nacimiento" placeholder="Fecha de nacimiento">
          <br>
          <input id="animal-weight" class="form-control space-10" type="text" data-toggle="tooltip" data-placement="top" title="Peso en Kg" placeholder="Peso en Kg">
          <br>
          <input id="animal-size" class="form-control space-10" type="text" data-toggle="tooltip" data-placement="top" title="Tamaño" placeholder="Tamaño">
          <br>
          <input id="animal-color" class="form-control space-10" type="text" data-toggle="tooltip" data-placement="top" title="Color" placeholder="Color">
          <br>
          <div class="form-inline">
            <input id="animal-pass-date" class="form-control space-10" type="datetime" data-toggle="tooltip" data-placement="top" title="Fecha de deceso" placeholder="Fecha de deceso">
            <a href="#" class="alert-link">Usar fecha actual</a>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="save-category">Guardar</button>
      </div>
    </div>
  </div>
<!--/div-->

<!--div id="new-group-modal" class="modal fade"-->
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Modificar datos del animal</h4>
    </div>
    <div class="modal-body">
      <div class="form-group form-group-sm">
        <input type="file" name="datafile" size="40" data-toggle="tooltip" data-placement="top" title="Fotografía del animal">
        <br>
        <input id="animal-name" class="form-control space-10" type="text" data-toggle="tooltip" data-placement="top" title="Nombre del animal" placeholder="Nombre del animal">
        <br>
        <select id="animal-owner-selector" class="form-control" data-toggle="tooltip" data-placement="top" title="Dueño del animal">
          <option disabled selected>Seleccione dueño</option>
          <option>Juan valdez</option>
          <option>Juan Bautista Sabadú</option>
          <option>Helena Mamani</option>
        </select>
        <br>
        <select id="animal-specie-selector" class="form-control" data-toggle="tooltip" data-placement="top" title="Especie del animal">
          <option disabled selected>Especie</option>
          <option>Perro</option>
          <option>Gato</option>
          <option>Serpiente</option>
        </select>
        <br>
        <select id="animal-breed-selector" class="form-control" data-toggle="tooltip" data-placement="top" title="Raza del animal">
          <option disabled selected>Seleccione raza</option>
        </select>
        <br>
        <input id="animal-born-date" class="form-control space-10" type="text" data-toggle="tooltip" data-placement="top" title="Fecha de nacimiento" placeholder="Fecha de nacimiento">
        <br>
        <input id="animal-weight" class="form-control space-10" type="text" data-toggle="tooltip" data-placement="top" title="Peso en Kg" placeholder="Peso en Kg">
        <br>
        <input id="animal-size" class="form-control space-10" type="text" data-toggle="tooltip" data-placement="top" title="Tamaño" placeholder="Tamaño">
        <br>
        <input id="animal-color" class="form-control space-10" type="text" data-toggle="tooltip" data-placement="top" title="Color" placeholder="Color">
        <br>
        <div class="form-inline">
          <input id="animal-pass-date" class="form-control space-10" type="datetime" data-toggle="tooltip" data-placement="top" title="Fecha de deceso" placeholder="Fecha de deceso">
          <a href="#" class="alert-link">Usar fecha actual</a>
        </div>

      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      <button type="button" class="btn btn-primary" id="save-category">Guardar</button>
    </div>
  </div>
</div>
<!--/div-->