<div class="container">
  <div class="row">

    <div class="col-xs-6 col-md-3">
      <a  href="#" class="thumbnail text-center cmn-t-bg">
        <i class="fa  fa-scissors fa-4x"></i>
        <br>
        Servicios
      </a>
    </div>

    <div class="col-xs-6 col-md-3">
      <a  href="/app/assets/javascripts#" class="thumbnail text-center cmn-t-bg">
        <i class="fa fa-paw fa-4x"></i>
        <br>
        Mascotas
      </a>
    </div>

    <div class="col-xs-6 col-md-3">
      <a  href="/assets/list_all" class="thumbnail text-center cmn-t-bg">
        <i class="fa fa-cubes fa-4x"></i>
        <br>
        Inventario
      </a>
    </div>

    <div class="col-xs-6 col-md-3">
      <a  href="/categories/list_all" class="thumbnail text-center cmn-t-bg">
        <i class="fa fa-sitemap fa-4x"></i>
        <br>
        Categorías y tipos
      </a>
    </div>

    <div class="col-xs-6 col-md-3">
      <a  href="#" class="thumbnail text-center cmn-t-bg">
        <i class="fa fa-group fa-4x"></i>
        <br>
        Empleados
      </a>
    </div>

    <div class="col-xs-6 col-md-3">
      <a  href="/user/list_all" class="thumbnail text-center cmn-t-bg">
        <i class="fa fa-user fa-4x"></i>
        <i class="fa fa-gears fa-4x"></i>
        <br>
        Usuarios, Grupos y Privilegios
      </a>
    </div>

    <div class="col-xs-6 col-md-3">
      <a  href="/histories/list_all" class="thumbnail text-center cmn-t-bg">
        <i class="fa fa-child fa-4x"></i>
        <i class="fa fa-exchange fa-4x"></i>
        <i class="fa fa-server fa-4x"></i>
        <br>
        Bitácora
      </a>
    </div>

    <div class="col-xs-6 col-md-3">
      <a  href="#" class="thumbnail text-center cmn-t-bg">
        <i class="fa fa-files-o fa-4x"></i>
        <br>
        Reportes
      </a>
    </div>

  </div>
</div>

