<div id="login" class="container">
  <div class="col-md-4 center-login">
    <h2>login</h2>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">Usuario</span>
        <input type="text" id="username-text" class="form-control">
      </div>
      <div class="input-group">
        <span class="input-group-addon">Contraseña</span>
        <input type="password" id="password-text" class="form-control">
      </div>
    </div>
    <input id="login-button" class="btn btn-success" type="button" value="Ingresar" onclick="login()">
  </div>
</div>