<div class="modal-body">
    <div class="form-group form-group-sm">
        <input id="newgroup-username" class="form-control align-input space-10" type="text" data-toggle="tooltip" data-placement="top" title="Nombre del grupo" placeholder="Nombre del grupo">
    </div>
</div>