<%= render 'general/back_modules'%>

<div class="container">
  <div class="col-md-9 row">
    <div class="col-xs-6 col-md-3">
      <a  href="/products/" class="thumbnail text-center hvr-sweep-to-top cmn-t-bg">
        <i class="fa fa-cubes fa-4x"></i>
        <br>
        Productos
      </a>
    </div>

    <div class="col-xs-6 col-md-3">
      <a  href="/product_types/" class="thumbnail text-center hvr-sweep-to-top cmn-t-bg">
        <i class="fa fa-tasks fa-4x"></i>
        <br>
        Tipos de productos
      </a>
    </div>

    <div class="col-xs-6 col-md-3">
      <a  href="/batch" class="thumbnail text-center hvr-sweep-to-top cmn-t-bg">
        <i class="fa fa-sitemap fa-4x"></i>
        <br>
        Lotes de productos
      </a>
    </div>

    <!--div class="col-xs-6 col-md-3">
      <a  href="#" class="thumbnail text-center hvr-sweep-to-top cmn-t-bg">
        <i class="fa fa-truck fa-4x"></i>
        <br>
        Proveedores
      </a>
    </div-->
  </div>
</div>