/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require sweet-alert
 *= require font-awesome
 *= require toastr
 *= require bootstrap3-switch
 *= require_self
 */

.panel-height {
    height: 190px;
}

.over-panel {
    margin-top: -36px;
    margin-right: 2px;
    margin-bottom: 10px;
}

.cmn-t-bg {
    color: #fff;
    background-color: #7fcfff;
    /* transition: background 0.2s; */
}
.cmn-t-bg:hover {
    color: #fff;
    background-color: #154b98;
}

.space-10{
    margin: 0px 0% 2% 0%;
}

.label-normal {
    font-weight: normal !important;
}

.align-input{
    padding-right: 15px !important;
}

.btn-remove{
    background-color: #b08d68;
}

.btn-remove:hover{
    background-color: #b00017;
}

.label-fix{
    margin: 3px 3px 3px 3px;
    display: inline-block;
}