<div class="col-xs-6 col-md-3">
  <a  href="/users/" class="thumbnail text-center hvr-sweep-to-top cmn-t-bg">
    <i class="fa fa-user fa-4x"></i>
    <i class="fa fa-gears fa-4x"></i>
    <br>
    Usuarios, Grupos y Privilegios
  </a>
</div>

<div class="col-xs-6 col-md-3">
  <a  href="/logs/" class="thumbnail text-center hvr-sweep-to-top cmn-t-bg">
    <i class="fa fa-child fa-4x"></i>
    <i class="fa fa-exchange fa-4x"></i>
    <i class="fa fa-server fa-4x"></i>
    <br>
    Bitácora
  </a>
</div>

<!--<div class="col-xs-6 col-md-3">-->
<!--  <a  href="/reports" class="thumbnail text-center hvr-sweep-to-top cmn-t-bg">-->
<!--    <i class="fa fa-files-o fa-4x"></i>-->
<!--    <br>-->
<!--    Reportes-->
<!--  </a>-->
<!--</div>-->

<!--<div class="col-xs-6 col-md-3">-->
<!--  <a  href="/info" class="thumbnail text-center hvr-sweep-to-top cmn-t-bg">-->
<!--    <i class="fa fa-info fa-4x"></i>-->
<!--    <br>-->
<!--    Información y configuración-->
<!--  </a>-->
<!--</div>-->