<div class="container">
  <div class="col-md-12 row">
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">Información de empleado</div>
        <form class="panel-body">
          <div class="col-md-3">
            <img id="employee-profile" class="img-thumbnail" src="http://i.imgur.com/zAyt4lX.jpg" height="100" />
          </div>
          <div class="col-md-9">
            <div class="input-group">
              <label class="input-group-addon">Nombre: </label>
              <label class="form-control">Juan baldivieso</label>
            </div>
            <br>
            <div class="input-group">
              <label class="input-group-addon">Cédula de identidad: </label>
              <label class="form-control">123456</label>
            </div>
            <br>
            <div class="input-group">
              <label class="input-group-addon">Fecha de nacimiento: </label>
              <label class="form-control">09/12/2008</label>
            </div>
            <br>
            <div class="input-group">
              <label class="input-group-addon">teléfono: </label>
              <label class="form-control">999912</label>
            </div>
            <br>
            <div class="input-group">
              <label class="input-group-addon">Cargo: </label>
              <label class="form-control">Veterinario</label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>