<div class="cover">
  <%= image_tag 'aylmao.jpg', class: 'background-image cover'%>
</div>

<div id="login" class="container">
  <div class="col-md-4 center-login login-beauty content">
    <h2>Bienvenido</h2>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">Usuario</span>
        <input type="text" id="username-text" class="form-control">
      </div>
      <br>
      <div class="input-group">
        <span class="input-group-addon">Contraseña</span>
        <input type="password" id="password-text" class="form-control">
      </div>
    </div>
    <input id="login-button" class="btn btn-success pull-right" type="button" value="Ingresar" onclick="login()">
  </div>
</div>